/*body{
    display: flex;
    align-content: center;
}

.cabezera{
 
    color: red;
    border: 2px solid red;
    width: 100%;
}

.contenido{

    color: blue;
    border: 2px solid red;
    width: 100%;
}*/